@font-face {
    font-family: Kaleko;
    src: url("../fonts/Kaleko\ 105\ Round\ W01\ Bold.ttf");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: 300ms;
}

html {
    font-size: 62.5%;
}

body {
    font-family: indivisible, sans-serif;
    font-style: normal;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;

    background-color: var(--background);
}

/* TEXT STYLES */

.subtitle {
    color: var(--text-subtitle);

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
}

.app-title {
    margin-bottom: 1.6rem;

    color: var(--text-title);
    font-size: 2.2rem;
    font-weight: 600;
}

.event-title {
    color: var(--text-subtitle);

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.standart-text {
    color: var(--text-primary);

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: -0.025rem;
}

/* BUTTON */

.btn {
    display: inline-flex;
    padding: 1.3rem;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-1, 0.8rem);
    width: 100%;

    font-size: 1.4rem;
    font-weight: bold;
    
    border-radius: 0.7rem;
    transition: 300ms;
}

[data-theme="ac"] .btn {
    border-radius: 10rem;
}

.btn-primary {
    color: var(--btn-primary-content);
    border: 1px solid var(--btn-primary-border);
    background: var(--btn-primary-background);
}

.btn-primary:hover {
    border-color: #4B53F2;
    background: #5D64F3;
}

.btn-primary:active {
    border-color: #444BDA;
    border-color: #4B53F2;
}

.btn-primary:disabled {
    opacity: 0.6;
}

.btn-secondary {
    color: var(--btn-secondary-content);
    border: 1px solid var(--btn-secondary-border);
    background: var(--btn-secondary-background);
}

.btn-secondary:hover {
    border-color: #C9CBFB;
    background: #EDEEFE;
}

.btn-secondary:active {
    border-color: #DBDDFC;
    background: #C9CBFB;
}

.btn-secondary:disabled {
    opacity: 0.6;
}

.btn-icon {
    font-size: 1.4rem !important;
}

/* DROPDOWN */

.dropdown {
    display: inline-flex;
    padding: 1.25rem 1.4rem;
    align-items: center;
    gap: var(--Spacing-1, 0.8rem);
    width: 100%;

    color: var(--text-primary);

    border-radius: 0.7rem;
    border: 1px solid #DEE2E6;
    background: #F1F3F5;
}

[data-theme="dark"] .dropdown {
    background: #495057;
    border-color: #868E96;
}

[data-theme="ac"] .dropdown {
    border-radius: 10rem;
}

.dropdown:hover {
    border-color: #DEE2E6;
    background: #E9ECEF;
}

.dropdown:focus {
    border: 1px solid #DEE2E6;
}

/* MESSAGE BAR */
#alert-container {
    width: var(--witdh);
}

.message-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 1.4rem;
    margin-bottom: 1.6rem;

    border-radius: 0.7rem;
    border: 1px solid #DEE2E6;
}

[data-theme="dark"] .message-bar {
    color: #495057;
}

.error-message {
    background: #FFF5F5;
}

.empty-message {
    background: #FFF9DB;
}

.warning-symbol {
    color: #F03E3E;
}

.empty-symbol {
    color: #F59F00;
}

/* CONTAINER */
.container {
    width: var(--witdh);
    display: flex;
    flex-direction: column;

    justify-content: center;
    gap: 0.8rem;
    padding: 1.4rem;

    background-color: var(--container-background);
    border-radius: 0.7rem;
    border: 1px solid var(--container-border);

    transition: 300ms;
}

/* EVENT CONTAINER */
#upcoming-events {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 300ms;
}

#events-list {
    width: var(--witdh);
    margin-top: 2.4rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.event-item {
    width: 100%;
    color: var(--text-primary);
}

/* RATING CONTAINER */
#rating-container {
    /* width: 24%; */
    padding: 2.4rem !important;
}

#rating-container .dropdown {
    margin-top: 1.6rem;
}

.response-text {
    margin-top: 1.6rem;
}

/* EVENT DETAIL CONTAINER */
#event-detail-card {
    padding: 2.4rem !important;
    margin-top: .8rem;
    margin-bottom: 1.6rem;
}

.card-desc {
    padding-bottom: .8rem;
}

/* CREDITS */
#credits {
    position: absolute;
    bottom: 3.2rem;
    width: var(--witdh);

    text-align: center;
    line-height: 11;

    user-select: none;
}

.credit-text a {
    text-decoration: none;
    color: #6F75F5;
}

[data-theme="ac"] .credit-text a {
    color: #855c26;
}

/* THEMES */
#themes {
    position: absolute;
    right: 3.2rem;
    bottom: 3.2rem;

}

.theme-icon {
    width: 2.4rem;
}